* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Common */

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.w100 {
    width: 100%;
    margin: auto;
}

.w70 {
    width: 70%;
    margin: auto;
}
/* Fine common */

/* Menù */
.menù {
    margin: auto;
    width: 100%;
    height: 50px;
}

.menù li {
    display: inline;
    padding: 0% 2%;
    line-height: 50px;
}

.menù ul li img {
    width: 12%;
    vertical-align: middle;
    
}

.menù ul li a {
    list-style: none;
    text-decoration: none;
    font-size: 80%;
    color: black;
    
}

.menù-left {
    width: 50%;
    float: left;
    padding-left: 1%;
}

.menù-right {
    width: 50%;
    float: right;
    padding-right: 1%;
    text-align: right;
}

.menù-right .button {
    background-color: rgb(34, 104, 255);
    color: white;
    padding: 0.5% 2%;
}

.menù nav ul li a:hover {
    border-bottom: 2px solid blue
}

/* Fine menù */

/* Inizio banner */
.banner {
    position: relative;
    padding: 5%;
    height: 600px;
    background-color: rgb(175, 206, 231);
}

.banner h1 {
    margin: auto;
    font-size: 400%;
}

.banner-left {
    width: 28.5%;
    float: left;
    padding-top: 3%;
}

.banner-left p {
    font-size: 80%;
    font-weight: 600;
}

.button-banner {
    display: inline-block;
    margin-top: 8%;
    background-color: rgb(34, 104, 255);
    color: white;
    padding: 1.5% 3.5%;
    font-size: 90%;
    margin-bottom: 2%;
}

.banner-left i{
    padding-top: 8%;
}

.banner-right {
    width: 71.5%;
    padding-top: 3%;
}

.banner-right img {
    position:absolute;
    right: 10%;
    width: 55%;
}
/* Fine banner */

/* Inizio abbonamento */
.subscription {
    width: 70%;
    margin: auto;
    margin-top: 11%;

}

.subscription h1{
    font-size: 120%;
    padding-bottom: 4%;
}

.subscription span {
    padding-right: 2%;
}


/* Colonne */
.column-container {
    width: 100%;
    padding-top: 5%;
}

.column .column-left {
    float: left;
    width: 30.6%;
    margin-right: 4%;
    height: 780px;
}

.column .column-center {
    float: left;
    width: 30.6%;
    margin-right: 4%;
    height: 780px;
}

.column-right {
    float: left;
    width: 30.6%;
    height: 780px;
}

.column-left, .column-center, .column-right, .column-bottom {
    border: 1px solid lightgray;
}

.column-left .singolo, .column-center .team, .column-right .team, .column-bottom .team {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid lightgray;
}

.column-padding {
    padding: 10% 7.5%;
}

.padding-top{
    padding-top: 10%;
}

.column-padding .bold-gray {
    display: inline;
    font-size: 76%;
    color:  rgb(110, 115, 126);
    font-weight: 700;
    padding-bottom: 10%;
}

.column-padding ul li {
    padding-bottom: 7%;
    list-style: none;
    font-size: 76%;
}

.column .button-banner {
    width: 100%;
    margin: auto;
    text-align: center;
}

.column a {
    color: rgb(34, 104, 255);
    font-weight: 600;
}

.column .border-bottom {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10%;
}

.font-size {
    font-size: 76%;
}

.fa-check {
    color: rgb(34, 104, 255);
    margin-left: -7.5%;
}

/* Colonna in basso */
.column-bottom {
    float: left;
    width: 100%;
    margin-top: 5%;
    /* height: 205px; */
    border: 1px solid lightgray;
}

.bottom-content {
    padding: 3%;
}

.column-bottom h1 {
    display: inline-block;
}

.button-ufficio-vendite {
    float: right;
    background-color: rgb(34, 104, 255);
    color: white;
    padding: 0.5% 2%;
    font-size: 76%;
}

.font-column-bottom {
    padding-top: 3%;
    font-size: 76%;
}
/* Fine colonna in basso */
/* Fine abbonamento */

/* Contatta team */
.contact-team {
    margin: auto;
    width: 70%;
}

.contact-team img {
    padding-top: 10%;
    width: 50%;
}

.contact-team-text {
    float: right;
    width: 40%;
    padding-top: 10%;
}

.contact-team-text p {
    padding: 7% 0;
}

.contact-team-text span {
    margin-top: 4%;
    border: 1.5px solid black;
    padding: 1.5%;
}
/* Fine contatta team */