* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Common */

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.w100 {
    width: 100%;
    margin: auto;
}

.w70 {
    width: 70%;
    margin: auto;
}
/* Fine common */

/* Menù */
.menù {
    margin: auto;
    width: 100%;
    height: 50px;
}

.menù li {
    display: inline;
    padding: 0% 2%;
    line-height: 50px;
}

.menù ul li img {
    width: 12%;
    vertical-align: middle;
    
}

.menù ul li a {
    list-style: none;
    text-decoration: none;
    font-size: 80%;
    color: black;
    
}

.menù-left {
    width: 50%;
    float: left;
    padding-left: 1%;
}

.menù-right {
    width: 50%;
    float: right;
    padding-right: 1%;
    text-align: right;
}

.menù-right .button {
    background-color: rgb(34, 104, 255);
    color: white;
    padding: 0.5% 2%;
}

.menù nav ul li a:hover {
    border-bottom: 2px solid blue
}

/* Fine menù */

/* Inizio banner */
.banner {
    position: relative;
    padding: 5%;
    height: 600px;
    background-color: rgb(175, 206, 231);
}

.banner h1 {
    margin: auto;
    font-size: 400%;
}

.banner-left {
    width: 28.5%;
    float: left;
    padding-top: 3%;
}

.banner-left p {
    font-size: 80%;
    font-weight: 600;
}

.button-banner {
    display: inline-block;
    margin-top: 8%;
    background-color: rgb(34, 104, 255);
    color: white;
    padding: 1.5% 3.5%;
    font-size: 90%;
    margin-bottom: 2%;
}

.banner-left i{
    padding-top: 8%;
}

.banner-right {
    width: 71.5%;
    padding-top: 3%;
}

.banner-right img {
    position:absolute;
    right: 10%;
    width: 55%;
}

/* Fine banner */